/* #241C15 #403B3B #8C8C8C #B7A9A1 #DBD9D2 #EFEEEA #F6F6F4 #FFFFFF #007C89 */

.content-wrapper {
    position: absolute;
    width: 100%;
    min-height: 12%;
    background: white;
}

body {
    padding: 1em 1em 2em;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 1em;
}

a {
    text-decoration: none;
}

main {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.brand {
    font-size: larger;
}


/* Select */

select {
    min-width: 200px;
    width: 100%;
    font-size: medium;
    margin: 1em 0em;
}

button {
    width: 100%;
    font-size: medium;
    background-color: gray;
    border: none;
    color: white;
    padding: 0.6em;
}

main {
    margin-top: 1em;
}


/* button group */

.btn-group {
    display: inline-block;
}

.btn-group button {
    height: 40px;
    width: auto;
}


/* card */

.card:after {
    clear: both;
    display: block;
    content: "";
}

.card {
    border: 1px solid black;
}

.row {
    clear: both;
}

img {
    width: auto;
}


/* flex */

.c-container {
    display: flex
}